<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhkoeln.gm.findyourcamp.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="de.fhkoeln.gm.findyourcamp.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.fhkoeln.gm.findyourcamp.app.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Google Maps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="de.fhkoeln.gm.findyourcamp.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.fhkoeln.gm.findyourcamp.app.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="de.fhkoeln.gm.findyourcamp.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhkoeln.gm.findyourcamp.app.MainActivity" />
        </activity>
        <activity
            android:name="de.fhkoeln.gm.findyourcamp.app.InsertRentalPropertyActivity"
            android:label="@string/action_insert_rental_property"
            android:parentActivityName="de.fhkoeln.gm.findyourcamp.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhkoeln.gm.findyourcamp.app.MainActivity" />
        </activity>
        <activity
            android:name="de.fhkoeln.gm.findyourcamp.app.RequestRentalPropertyActivity"
            android:label="@string/action_request_rental_property"
            android:parentActivityName="de.fhkoeln.gm.findyourcamp.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhkoeln.gm.findyourcamp.app.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="de.fhkoeln.gm.findyourcamp.app.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="de.fhkoeln.gm.findyourcamp.app" />
            </intent-filter>
        </receiver>
        <service android:name="de.fhkoeln.gm.findyourcamp.app.gcm.GcmIntentService" />
    </application>

</manifest>